<!doctype html>
<html lang="en-AU">

<head>
    {{comment "<!-- Encoding -->"}}
    <meta charset="utf-8" />

    {{comment "<!-- Core CSS -->"}}
    <link rel="stylesheet" type="text/css" href="/static/index.css" />

    {{comment "<!-- This is favicon country -->"}}
    {{template "favicon.html"}}

    {{comment "<!-- Facebook Open Graph metadata -->"}}
    {{template "opengraph.html"}}

    {{comment "<!-- Font Awesome -->"}}
    <script defer src="//use.fontawesome.com/releases/v5.2.0/js/brands.js" integrity="sha384-4BRtleJgTYsMKIVuV1Z7lNE29r4MxwKR7u88TWG2GaXsmSljIykt/YDbmKndKGID"
        crossorigin="anonymous"></script>
    <script defer src="//use.fontawesome.com/releases/v5.2.0/js/fontawesome.js" integrity="sha384-QcnrgQuRmocjIBY6ByWMmDvUg3HO4MSdVjY7ynJwZfvTDhVPPQOUI9TRzc6/7ZO1"
        crossorigin="anonymous"></script>

    <title>
        James Lucktaylor - Info
    </title>
</head>

<body>
    <h1>jameslucktaylor.info</h1>

    <img alt="GCP Gopher" id="logo" src="/static/gcp-gopher.svg" title="This site runs on Google Cloud using Go in App Engine!"
        width="100" />

    <div id="greeting">{{.Greeting}}</div>

    <div class="social">
        <a href="//www.linkedin.com/in/jlucktay">
            <i class="fab fa-linkedin fa-3x"></i>
        </a>
        <a href="//github.com/jlucktay">
            <i class="fab fa-github fa-3x"></i>
        </a>
        <a href="//twitter.com/jlucktay">
            <i class="fab fa-twitter fa-3x"></i>
        </a>
        <a href="//facebook.com/jlucktay">
            <i class="fab fa-facebook fa-3x"></i>
        </a>
    </div>
</body>

</html>
