@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    list-style: upper-roman;
    vertical-align: baseline;
}

div {
    position: relative;
    z-index: 2;
}

div#greeting {
    padding: 20px;
    text-align: center;
}

body {
    background-color: #f70;
    color: #fff;
}

h1 {
    text-align: center;
}

img#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 20%;
}
